table, th {
    border: 1px solid black;
    text-align: center;
   
  }
  td{
    border: 1px solid black;
    text-align: center;

  }
  h4{
    font-size: 1.4em;
  }
  h5{
font-size: 1.3em;
  }
  .com{
    padding-left: 200px;
    padding-right: 200px;
  }
  .back{
    font-size: 2em;
    text-align: center;
  }
  .hex{
    display: block;
    width: 40%;
  }
.rgb{
  display: block;
  width: 45%;
}
.hex-text{
  text-align: left;
  width: 55%;
}
.lin-display{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}
.win1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}
